<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Creacion de usuario</h2>
        
            <b>
                <h3 style='color:red;'>
                    @ViewBag.Message
                </h3>
            </b>
        
        </hgroup>
</body>
</html>
