
@{
    ViewBag.Title = "Importar Datos";
}

<h2>Importar Datos</h2>

@*new { enctype = "multipart/form-data" }*@

@*@Html.TextBox("file", "", new { type = "file" })*@


@using (Html.BeginForm("ImportarDatos", "Import", FormMethod.Post))
{
    <div>
        <select id="tipoImport" name="tipoImport">
            <option value="0">Usuarios</option>
            <option value="1">Actividades</option>

        </select>

        <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
    <br /><br />
    @ViewBag.Content
}
