<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exito</title>
</head>
<body>
    <hgroup>
        <h1></h1>
        <h2>Status Socio</h2>
            <b>
                <h3 style='color:blue;'>
                    @ViewBag.Message
                </h3>
                </b>

    </hgroup>
</body>
</html>
