@{
    ViewBag.Title = "About";
}
<h2>Acerca del Club Solis</h2>
<!--
<h3>@ViewBag.Message</h3>
    -->
<p>
    El “Club Solís” de la ciudad de Las Piedras es una institución social, cultural y deportiva, fundada el 18 de marzo de 1888. El proyecto comenzó un 21 de febrero de 1888, cuando Las Piedras era aún una villa, reducida prácticamente a sus primitivas 49 manzanas.
</p>
<p>
    Entonces, un grupo de ciudadanos reunidos en la casa de Elías R. Quinteros para “crear una institución con fines recreativos, con el objeto de dar tertulias e interesarse por el desarrollo de las ideas liberales y progresistas”. Se nombró una comisión para redactar los estatutos, citándose una Asamblea General y se realizó una elección para elegir las primeras autoridades.
</p>
<p>
    Desde su creación esta institución fue el centro de muchos encuentros culturales, deportivos, fiestas patrias, especialmente la conmemoración del Centenario de la Batalla de las Piedras, ya que el día 17 de mayo se realizó en el Club una velada organizada por el comité de maestros pro- Centenario de La Batalla de Las Piedras.
</p>

<p>
    En la primera época se destacaban las actividades artísticas, cursos, conferencias, conciertos y representaciones teatrales, contando con la presencia de figuras de renombre como el escritor Javier de Viana, establecido en la vecina ciudad de La Paz. Otras personalidades vinculadas a la institución a través de su historia, tales como Senén Rodríguez, Manuel B. Menéndez, Pilar Cabrera, César Mayo Gutiérrez, Ubaldo Ramón Guerra, Julio L. Trias Du Pré, y en épocas más cercanas, Juan Loreto, en las “solisíadas” los hermanos Darío y Dardo Cervieri Duarte, Luis Villamayor, el Dr. Miguel Angel Cabrera, Chingolo Varela, “Bebe” Ponce, Carlos Placeres, y Juan A. Gaydón.
</p>
    En el año 1901, don Pilar Cabrera presenta el proyecto de adquisición de sede propia (la actual Comisaría, Seccional Cuarta) lo que cierra la etapa fundacional del Club. En la década de 1950, bajo la presidencia de don Emilio Volpi, se aprueba la realización de una permuta con el Ministerio del Interior, por la que se ocupa el lugar de su actual emplazamiento.
<p>
    En épocas recientes, la institución se proyectó con planes de jerarquizar la construcción, incorporar nuevas facilidades: una piscina cerrada, nuevas actividades gimnásticas y profesores, cuerpo médico e instalaciones, convocando a socios de Las Piedras y de la región. La mujer irrumpe en los nuevos servicios, y si bien ella estaba en el Club desde sus inicios, participaba en la actividad social y cultural y en la organización, integrando comisiones femeninas, pero nunca como socia. Las primeras socias ingresaron cuando por 1980 se abre la pileta, creada por la gestión del entonces presidente del Club, Felisberto Carámbula, en dicho cargo entre 1978 y 1982, cuando la dictadura lo excluyó arbitrariamente de la comisión directiva.
</p>

<p>
    Actualmente el Club Solís es una institución fortalecida con el apoyo de sus socios y socias lo cual le permite proyectarse con entusiasmo y conocimiento en Las Piedras y zonas aledañas.
</p>
<p>
    Fuentes:
    Sarasola, Washington, “Charla sobre la historia del Club Solís”, Las Piedras, 1975.
    Club Solís “Historia del Club Solís”, folleto editado, Las Piedras, 1993.
    Comisión Honoraria de Patrimonio de Las Piedras. 2008. Las Piedras ciudad histórica. Edificios, instituciones, empresas y personalidades emblemático, que son parte de la historia e identidad de nuestra ciudad. Comisión Honoraria de Patrimonio de Las Piedras. Setiembre 2008.
</p>
