@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av Artigas 632, 90200 <br />
    Las Piedras,Departamento de Canelones<br />
    <abbr title="Phone">P:</abbr>
    2364 6505
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:clubsolis@solis.com">clubsolis@solis.com</a><br />
</address>